@model LyricsCounter.Web.Models.ArtistLookupModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site will allow you to search for an artist and we will count the average number of words in their songs</p>
    <p><a asp-controller="Lyric" asp-action="ArtistSearch">Click here to get started</a></p>
</div>

