@model string

    <div class="text-center">
        <h3>
            Error
        </h3>

        <p>Sorry an error occured while gathering results.</p>
        <p>@Model</p>

        <div>
            <a asp-action="ArtistSearch">Go back to try again</a>
        </div>
    </div>

